<%# CSS・・・assets/stylesheets/spot/show.css %>
<%= render 'shared/header' %>

<div class="wrapper">
  <div class="chanel">
    <div class="spot-detail">
      <div class="group-spot-title">
        <div class="spot-name">
          <%= @visited.visited ? '✔' : '・' %><%= @spot.name %>
        </div>
        <div class="group-spot-name">
          <%= link_to "（" + @group.name + "）", group_path(@group), class: "group-spot-name" %>
        </div>
        <div class="spot-address">
        <%= @spot.address %>
        </div>
      </div>
      <div class="spot-text">
        <%= @spot.text %>
      </div>
      <!-- イッタ登録/コレカラ登録ボタンを表示 -->
      <div class="spot-buttons">
        <%= button_to @visited.visited ? 'コレカラ' : 'イッタ！', toggle_visited_group_spot_path(@group, @spot), method: :patch, class: "btn-visited #{@visited.visited ? 'visited' : ''}", id: 'toggle-visited-button' %>
      </div>
      <div id="map"></div>
    </div>
  </div>
</div>

<%# 変数をJavaScriptに渡すための設定 %>
<% if @spot.present? %>
  <script>
    window.spotData = <%= raw(@spot.to_json(only: [:name, :latitude, :longitude])) %>;
  </script>
<% end %>
