<%# CSS・・・assets/stylesheets/group/index.css %>
<%= render 'shared/header' %>

<div class="wrapper">
  <div class="chanel">
    <div class="groups">
      <% @groups.each do |group| %>
        <div class="group">
          <div class="group-name">
            <% completion_rate = user_signed_in? ? @group_completion_rates[group.id] : nil %>
            <%= link_to "#{completion_rate == 100 ? '◎' : '○'}#{group.name}", group_path(group), class: "group-name" %>
            <% if completion_rate %>
              <span class="completion-rate">(<%= completion_rate %>%)</span>
            <% end %>
            <% if completion_rate == 100 %>
              <span class="medal">
                <img src="<%= asset_path('medals/gold.png') %>" width="30" alt="Gold medal" >
              </span>
            <% end %>
          </div>
          <div class="group-text">
            <%= group.text %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
