<%# CSS・・・assets/stylesheets/group/show.css %>
<!-- 共通ヘッダーを読み込む -->
<%= render 'shared/header' %>

<div class="wrapper">
  <!-- サイドバーやその他の要素を囲む -->
  <div class="chanel">
    <!-- グループ詳細情報を表示する領域 -->
    <div class="group-detail">
      <!-- グループ名を表示 -->
      <div class="group-group-name">
        <span class="group-name"><%= @completion_rate == 100 ? '◎' : '○' %><%= @group.name %></span>
        <span class="completion-rate">(<%= @completion_rate %>%)</span>
      </div>
      <!-- グループの作成者を表示 -->
      <div class="group-creator">
        creator：<%= @group.creator %>
      </div>
      <!-- グループの説明文を表示 -->
      <div class="group-text">
        <%= @group.text %>
      </div>
      <!-- スポット名をリストで表示 -->
      <div class="group-spots">
        <h3>スポット一覧</h3>
        <div class="spot-list">
          <% @spots.each do |spot| %>
            <div class="group-spot-names">
              <%= spot.visiteds.find_by(user_id: current_user.id)&.visited ? '✔' : '・' %>
              <%= link_to spot.name, group_spot_path(@group, spot), data: { turbo: false }, class: "group-spot-name" %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Googleマップを表示するためのプレースホルダー -->
      <div id='map'></div>
    </div>
  </div>
</div>

<%# 変数をJavaScriptに渡すための設定 %>
<% if @spots.present? %>
  <script>
    window.spotsData = <%= raw(@spots.to_json(only: [:name, :latitude, :longitude])) %>;
  </script>
<% end %>
