<%= render 'shared/header' %>
<div class="user-details-container">
  <%= link_to @user.name, edit_user_path(@user), class: "user-edit" %>

  <% if current_user.following?(@user) %>
    <%= button_to 'フォロー解除', relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), method: :delete %>
  <% else %>
    <%= button_to 'フォロー', relationships_path(followed_id: @user.id), method: :post %>
  <% end %>


  <h2>達成率</h2>

  <div class="group-completion-charts">
    <% @group_completion_rates.each do |group_name, completion_rate| %>
      <div class="group-completion-chart" data-completion-rate="<%= completion_rate %>" data-group-name="<%= group_name %>">
        <canvas width="150" height="150"></canvas>
      </div>
    <% end %>
  </div>
</div>
