<%= render 'shared/header' %>

<div class="admin-groups-container">
  <div class="left-aligned-content">
    <h1>Groups</h1>
    <%= link_to 'New Group', new_admin_group_path, class: 'btn btn-primary' %>
  </div>
  <div class="table-container">
    <table class="admin-groups-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
          <th>Text</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= group.creator %></td>
            <td><%= group.text %></td>
            <td>
              <%= link_to 'Show', admin_group_path(group), class: 'btn btn-show' %>
              <%= link_to 'Edit', edit_admin_group_path(group), class: 'btn btn-edit' %>
              <%= link_to 'Delete', admin_group_path(group), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
