<%= render 'shared/header' %>

<div class="admin-groups-container">
  <div class="left-aligned-content">
    <h1>Groups</h1>
    <%= link_to 'New Group', new_admin_group_path, class: 'btn-primary' %>
  </div>
  <div class="table-container">
    <table class="admin-groups-table">
      <thead>
        <tr>
          <th class="col-group-name">Name</th>
          <th class="col-group-creator">Creator</th>
          <th class="col-group-text">Text</th>
          <th class="col-group-actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td class="col-group-name"><%= group.name %></td>
            <td class="col-group-creator"><%= group.creator %></td>
            <td class="col-group-text"><%= group.text %></td>
            <td class="col-group-actions">
              <div class="action-buttons">
                <%= link_to 'Spot', admin_group_path(group), class: 'btn btn-show' %>
                <%= link_to 'Edit', edit_admin_group_path(group), class: 'btn btn-edit' %>
                <%= link_to 'Delete', admin_group_path(group), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
