<%= render 'shared/header' %>

<div class="admin-groups-container">
  <div class="left-aligned-content">
    <h1><%= @group.name %></h1>
    <%= link_to 'New Spot', new_admin_group_spot_path(@group), class: 'btn btn-primary' %>
  </div>
  <div class="table-container">
    <table class="admin-spots-table">
      <thead>
        <tr>
          <th class="col-spot-name">Name</th>
          <th class="col-spot-text">Text</th>
          <th class="col-spot-address">Address</th>
          <th class="col-spot-latitude">Latitude</th>
          <th class="col-spot-longitude">Longitude</th>
          <th class="col-spot-actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @group.spots.each do |spot| %>
          <tr>
            <td class="col-spot-name"><%= spot.name %></td>
            <td class="col-spot-text"><%= spot.text %></td>
            <td class="col-spot-address"><%= spot.address %></td>
            <td class="col-spot-latitude"><%= spot.latitude %></td>
            <td class="col-spot-longitude"><%= spot.longitude %></td>
            <td class="col-spot-actions">
              <%= link_to 'Edit', edit_admin_group_spot_path(@group, spot), class: 'btn btn-edit' %>
              <%= link_to 'Delete', admin_group_spot_path(@group, spot), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>