<!DOCTYPE html>
<html>
  <head>
    <title>SEIHAJapan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <% if @use_google_maps %>
    <script>
      // ページが完全に読み込まれた後に実行
      document.addEventListener("turbo:load", function() {
        // window.google または window.google.maps が未定義の場合
        if (!window.google || !window.google.maps) {
          // 新しい script 要素を作成
          var script = document.createElement('script');
          // Google Maps API のスクリプトのソースを設定
          script.src = `https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap`;
          // スクリプトを非同期で読み込むように設定
          script.async = true;
          // スクリプトの読み込みを遅延させるように設定
          script.defer = true;
          // スクリプトをドキュメントの head に追加して読み込みを開始
          document.head.appendChild(script);
        } else {
          // すでに Google Maps API が読み込まれている場合は、initMap 関数を直接呼び出す
          initMap();
        }
      });
    </script>
    <% end %>
  </body>
</html>

<%# 変数をJavaScriptに渡すための設定 %>
<script>
  window.spotsData = <%= raw @spots.to_json(include: { visiteds: { only: [:visited, :user_id] } }, only: [:id, :name, :latitude, :longitude, :group_id]) %>;
</script>
